
.title {
    position: absolute;
    left:68px;
    top: 8px;

    color: #F4F5F7;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.distance {
    position: absolute;
    left: 68px;
    top: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #969BAB;
}
.pace {
    position: absolute;
    left: 75px;
    top: 52px;

    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 16px;
    color: #969BAB;
    /* or 200% */
}
    
.day{
    position:absolute;
    left:25px;
    top:16px;

    width: 15px;
    height: 16px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.month {
    position: absolute;
    left: 20px;
    top: 38px;


    width: 29px;
    height: 7px;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 16px;
    /* or 200% */

    text-align: center;
    color: #969BAB;
}


.card {
    position: relative;
    background-color: none;
    background-color: #fff0;
}

.options {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 260px;
    top: 25.5px;
    background: transparent;
    border: none !important;
    font-size: 0;
}

.optionModal {
    width:96px;
    height:108px;
    position: absolute;
    left: 160px;
    top:0px;
}

.restOption {
    width: 96px;
    height: 36px;
    position: absolute;
    left: 172px;
    top: 0px;
    background: transparent;
    border: none !important;
    font-size: 0;
}

.intervalOption {
    width: 96px;
    height: 36px;
    position: absolute;
    left: 172px;
    top: 38px;
    background: transparent;
    border: none !important;
    font-size: 0;
}

.longOption {
    width: 96px;
    height: 36px;
    position: absolute;
    left: 172px;
    top: 76px;
    background: transparent;
    border: none !important;
    font-size: 0;
    z-index:10;
}

.startRun {
    width: 56px;
    height: 32px;
    position: absolute;
    left: 178px;
    top: 21.5px;
    background: transparent;
    border: none !important;
    font-size: 0;
}