@page "/comparerun"
@layout CompareRunLayout

<div class="content">
    <div class="profile">
        <p>Chris Evans</p>
        <p style="font-size:30px">Last 3 Runs</p>
    </div>
    <div class="runStats">
            <p>Average Pace: 5:85 / KM</p>
            <p>Average Pace: 6:03 / KM</p>
            <p>Average Pace: 6:18 / KM</p>
    </div> 
    <div class="profile">
        <p>Annie Chai</p>
        <p style="font-size:30px">Last 3 Runs</p>
    </div>
    <div class="runStats">
            <p>Average Pace: 5:25 / KM</p>
            <p>Average Pace: 5:42 / KM</p>
            <p>Average Pace: 5:86 / KM</p>
    </div> 
</div>
