@page "/home"
@layout MainLayout

 <PageTitle>Home</PageTitle>

<div class='container'>
    <div >
    <h1>RUN OUT</h1>

    <a href='/signup'>
        <button class='button'>GET RUNNING / SIGN UP</button>
    </a>

    <a href='/login'>Have an account? Log In</a>
    </div>
</div>

@code {

}




