@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<div style=" width: 390px; height: 844px; background: rgba(28, 28, 30, 0.94); display: flex; align-items:center; justify-content:center; flex-direction: column;">
	<IconButton Title="September 2022" />
	<IconButton Title="Week 1" />
</div>
