@page "/home"
<<<<<<< Updated upstream
@layout MainLayout
=======
@layout MainLayout 
>>>>>>> Stashed changes

<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            body {
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            .hero-text {
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
            }
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }
            .buttonRound {
                border-radius: 12px;
            }
        </style>
    </head>
    <body>
    <PageTitle>Home</PageTitle>
       
            <div class="hero-text">
                <h1 style="font-size:50px;font-weight:700;">RUN OUT</h1>
                <button class="button buttonRound">GET RUNNING / SIGN UP</button>
            </div>
    </body>
</html>

<<<<<<< Updated upstream
=======
<div class='container'>
    <div >
    <h1>RUN OUT</h1>

    <a href='/register'>
        <button class='button'>GET RUNNING / SIGN UP</button>
    </a>

    <a href='/login'>Have an account? Log In</a>
    </div>
</div>

@code {

}
>>>>>>> Stashed changes



