@page "/interval"

<div class="content">
    <div class="nav">
        <button id="back"> &#10094;</button>
        <p id="heading">Interval</p>
        <div class="date">
            <p id="number">3</p>
            <button disabled id="weekday">Thu</button>
        </div>
        
    </div>
    <div class="intervals">
        <div class="runtimes">
            <div id="first">
                <img src="/Images/walking.png"/>
                <h4>Walk</h4>
                <p class="time">2:00</p>
            </div>
            <div>
                <img src="/Images/running.png"/>
                <h4>Run</h4>
                <p class="time">5:00</p>
            </div>
            <div>
                <img src="/Images/walking.png"/>
                <h4>Walk</h4>
                <p class="time">2:00</p>
            </div>
             <div>
                <img src="/Images/running.png" />
                <h4>Run</h4>
                <p class="time">5:00</p>
            </div>
            <div>
                <img src="/Images/walking.png" />
                <h4>Walk</h4>
                <p class="time">2:00</p>
            </div>
            <div>
                <img src="/Images/running.png" />
                <h4>Run</h4>
                <p class="time">5:00</p>
            </div>
            <div>
                <img src="/Images/walking.png" />
                <h4>Walk</h4>
                <p class="time">2:00</p>
            </div>
            <div id="last">
                <img src="/Images/running.png" />
                <h4>Run</h4>
                <p >5:00</p>
            </div>

        </div>
        <button id="start">START</button>
    </div>

</div>

@code {

}
