@page "/login"
@layout MainLayout

<div class='login-box'>
    <h1> RUN OUT</h1>
    <form method="POST">
        <label for="Username">Username</label>
        <input type="text" username="Username" placeholder="Enter Username" />

        <label for="Password">Password</label>
        <input type="password" password="password" placeholder="" />
        <a href='/dashboard'>
        <input type="button" value="SUBMIT" />
        </a>
    </form>


</div>

@code {
    public void UserLogin(){

    }
    
}
