@page "/login"
@layout MainLayout

<div class='login-box'>
    <h1> RUN OUT</h1>
    <form>
        <label>Username</label>
        <input type="text" placeholder="" />

        <label>Password</label>
        <input type="password" placeholder="" />

        <input type="button" value="SUBMIT" />
    </form>


</div>
@code {
    
}
