@page "/newprogram"
@layout NewProgramLayout

<div class="content">
    <div class="back">
        <form>
            <p>Race Name</p>
            <input type="text" @bind="raceName" />
        </form>
        <div class="newButtons">
            <button id="date">
                <p>Race Date</p>
                <DatePicker></DatePicker>
            </button>

            <button id="distance">
                <p>Race Distance (KM)</p>
                <DistancePicker></DistancePicker>
            </button>

            <button id="pace">
                <p>Target Pace (Min/KM)</p>
                <PacePicker></PacePicker>
            </button>
        </div>
        <div class="conButton">
            <a href="/dashboard" class="dashboard">
                <conButton id="confirm">
                    <p>Confirm Information</p>
                </conButton>
            </a>
        </div>
    </div>
</div>

@code {
    @inject IJSRuntime JSRuntime
    private string raceName ="";
    private UserData currentValue;
    UserData data;

    private void FormSubmitted()
    {
        
        if (Database.userData.TryGetValue(Database.currentUser, out currentValue))
        {
            currentValue.marathonName = raceName;
            JSRuntime.InvokeVoidAsync("console.log", "raceName: ", data.marathonName);
            Database.userData[Database.currentUser] = currentValue;
        }

    }

}