@page "/newprogram"
@layout NewProgramLayout

<div class="content">
    <div class="back">
        <div class="newButtons">
            <a href="/racedate">
                <button id="date">
                    <img src="Images/calendar.png" id="iconPic">
                    <p>Race Date</p>
                </button>
            </a>

            <a href="/racedistance">
                <button id="distance">
                    <img src="Images/distance.png" id="iconPic">
                    <p>Race Distance</p>
                </button>
            </a>

            <a href="/targetpace">
                <button id="pace">
                    <img src="Images/pace.png" id="iconPic">
                    <p>Target Pace</p>
                </button>
            </a>
        </div>
        <div class="conButton">
            <b href="/confirm">
                <conButton id="confirm">
                    <p>Confirm Information</p>
                </conButton>
            </b>
        </div>
    </div>
</div>
