@page "/noprogram"
@layout MainLayout

<PageTitle>NoProgram</PageTitle>

<div class='container'>
    <div>
        <h1>WELCOME TO RUNOUT</h1>
        <h2>Press the button below below to create a  running program!</h2>

        <a href='/newprogram'>
            <button class='button'>ADD RACE DATE</button>
        </a>
        <a href='/runningform'>
            <button class='button2'>TIPS AND TRICKS</button>
        </a>
    </div>
    <div class='with-bg nav'>
        <img src="Images/Bottom Nav_Home.png" class="bottomNav" />
        <a href="/dashboard" class="homepage"></a>
        <a href="/calendar" class="calendar"></a>
        <a href="/profile" class="profile"></a>
        <a href="/userfeed" class="feed"></a>
    </div>
</div>


@code {

}
