@page "/noprogram"
@layout MainLayout

<PageTitle>NoProgram</PageTitle>

<div class='container'>
    <div>
        <h1>WELCOME TO RUNOUT</h1>
        <h2>Press the button below below to create a  running program!</h2>
        
        <a href='/newprogram'>
            <button class='button'>ADD RACE DATE</button>
        </a>
        <a href='/runningform'>
            <button class='button2'>TIPS AND TRICKS</button>
        </a>
    </div>
</div>


@code {

}
