@page "/profile"

<div class='container'>
    <div class="avatar">
        <img src="Images/runform.jpg">
    </div>

    <div class="name-container">
        <h1>@name</h1>
        <p>Location: Calgary, AB</p>
    </div>

    <div class="pace-container">
        <div class='avg'>
            <h1>Average Pace</h1>
            <p>Target:</p>
        </div>

        <div class="pace">
            6:09
        </div>

        <div class="km">
            /KM
        </div>
    </div>

    <div class="achievements-container">
        <div class="title">ACHIEVEMENTS</div>
        <img src="/Images/Achievements.png"/>
    </div>


    <div class='with-bg nav'>
        <img src="Images/Bottom Nav_Profile.png" class="bottomNav" />
        <a href="/dashboard" class="homepage"></a>
        <a href="/calendar" class="calendar"></a>
        <a href="/profile" class="profile"></a>
        <a href="/userfeed" class="feed"></a>
    </div>
</div>

@code {
    string name;
    [CascadingParameter]
    protected Calendar_Data? Calendar_Data { get; set; }

    protected override void OnInitialized()
    {
        name = Calendar_Data.currentName;
    }
}
