@layout MainLayout
@page "/runcomplete/{Distance}/{Pace}/{Time}"

<div class="content">
    <h1>RUN <br /> COMPLETE</h1>
    <div class="runDetails">
        <p>Distance: @Distance km</p>
        <p>Pace: @Pace min/km</p>
        <p>Time: @Time </p>
        <div class="btn">
            <a href="/dashboard"><button id="return">RETURN</button></a>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string ? Distance { get; set; }

    [Parameter]
    public string ? Pace { get; set; }

    [Parameter]
    public string ? Time { get; set; }
}
