@layout MainLayout
@page "/runcomplete"

<div class="content">
    <h1>RUN <br /> COMPLETE</h1>
    <div class="runDetails">
        <p>Distance: 8km</p>
        <p>Pace: 6:40 min/km</p>
        <div class="btn">
        <button id="resume">RESUME</button></div>
    </div>
</div>


@code {

}
