@page "/runningformdemo"
@layout TipsLayout


<div class="content">
    <div class="tipButtons">
        <a href="/runningform">
            <button disabled id="running">
                Running Form
            </button>
        </a>

        <a href="/breathing">
            <button>
                Breathing
            </button>
        </a>

        <a href="/stretching">
            <button id="stretching">
                Stretch
            </button>
        </a>
    </div>
    <div class="actualTips">
        <div class="video"> <iframe width="290" height="200" src="https://www.youtube.com/embed/brFHyOtTwH4?" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        <h3>FORM COMPARISON</h3>
      
            <p>Upload a video to receive step by step guided form analysis</p>
            <button class = "upload">Upload Video</button>
 
    </div>
</div>

@code {

}
