body {
    font-family:Helvetica, sans-serif;
}


.content {
    text-align: center;
}

.tipButtons {
    display: flex;
    justify-content: center;
}

    .tipButtons button {
        border: none;
        background-color: rgb(84, 84, 88,0.65);
        color: white;
        font-size: 15px;
        font-weight:600;
        padding: 10px 25px;
    }

#running {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #636366;

}

#stretching {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.actualTips {
    background-color: rgb(28, 28, 30,0.59);
    margin: 40px 30px 40px 30px;
    border-radius: 16px;
    text-align:left;
 
   
}

a {
    text-decoration: none;
    color: white;
}

#runformPic{
    margin:20px 20px;
    width:290px;
    height:200px;
    border-radius:16px;
}

.articlePic{
    text-align:center;
}

#articleHeading {
    color: #34C759;
    font-weight:800;
    margin:0 20px 0 20px;
}

.content p,li{
    color:white;
    margin:10px 20px;
    font-weight:500;
}


