@page "/runningform"
@layout TipsLayout

<div class="content">
    <div class="tipButtons">
        <a href="/runningform">
            <button id="running">
                Running Form
            </button>
        </a>

        <a href="/breathing">
            <button>
                Breathing
            </button>
        </a>

        <a href="/stretching">
            <button id="stretching">
                Stretch
            </button>
        </a>
    </div>
    <div class="actualTips">
        <div class="articlePic">
            <img src="Images/runform.jpg" id="runformPic" />
            
        </div>
        <h2 id="articleHeading">WHAT MAKES GOOD RUNNING FORM?</h2>
        <p>
            Good running form can make all the difference in reaching your cardio goals.
            Here are some things to look out for when going on your runs: <br /><br />
 
            1. Slouching head and shoulders. Make sure that your gaze remains ahead and your shoulders remain down and back. <br /><br />

            2. Wandering arms. Ensure that your arms remain by your sides and practice a relaxed swinging motion while jogging. <br /><br />

          
            3. Heels striking the ground. This makes you more prone to injury and reduces the speed of your stride. With each step you take, ensure that only the balls of your feet come into contact with the ground.
            

        </p>
    </div>
</div>

@code {

}