@page "/breathing"
@layout TipsLayout



<div class="content">
    <div class="tipButtons">
        <a href="/runningform">
            <button id="running">
                Running Form
            </button>
        </a>

        <a href="/breathing">
            <button disabled id="breathing">
                Breathing
            </button>
        </a>

        <a href="/stretching">
            <button id="stretching">
                Stretch
            </button>
        </a>
    </div>
    <div class="actualTips">
        <div class="articlePic">
            <img src="Images/breathing.jpg" id="breathePic" />
            
        </div>
        <h3 id="articleHeading">BREATHING PATTERNS</h3>
        
        <p>
            Breathing patterns often change when doing intensive cardio. For many people, this is an uncomfortable feeling. However, the key to maximizing your fitness performance lies
            in learning how to control your breath. <br /><br>

            Breathing practices vary depending on whether you are taking it easy with a slow jog, running at a moderate pace, or sprinting faster than Usain Bolt. <br /><br />
            For instance, if going on a jog, breathing through your nose and exhaling through your mouth is recommended. However, if going for a moderate paced run or high intensity sprint, is more effective to inhale and exhale exclusively through your mouth.
            This increases the amount of oxygen your body is receiving, providing your muscles with more fuel and allowing you to run longer and faster.
            In both cases, it is recommended to expand your belly down and out rather than your chest while taking a breath.<br /><br />
            Combining good breathing techniques along with proper form is sure to get you further than ever!


        </p>
        <a href="/breathingdemo"><button class="next"><p>&#129170;</p></button></a>
        
    </div>
</div>

@code {

}
