
.content {
    text-align: center;
    padding-bottom: 20px;
    
}

.tipButtons {
    display: flex;
    justify-content: center;
}

    .tipButtons button {
        border: none;
        background-color: rgb(84, 84, 88,0.65);
        color: white;
        font-size: 15px;
        font-weight: 400;
        font-family: 'Roboto',sans-serif;
        padding: 10px 25px;
        
    }

#startAnalysis{
    border-radius:8px;
    border:none;
    color:white;
    background-color:#34C759;
    font-weight:600;
    font-size:15px;
    width:150px;
    height:35px;
    margin-top:10px;
}


#running {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    background-color: #636366;
}

#stretching {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


.actualTips {
    background-color: rgb(28, 28, 30,0.59);
    margin: 40px 30px 10px 30px;
    border-radius: 16px;
    height: 650px;
    padding: 7.5px;
    position:relative;
}

a {
    text-decoration: none;
    color: white;
}

h3 {
    color: #34C759;
    font-weight: 700;
    font-size:25px;
    margin-top:150px;
}

p{
    color:white;
    font-family:"Roboto",sans-serif;
    padding-left:25px;
    padding-right:25px;
}

#description{
    margin-top:10px;
}

#questNum{
 
    margin-top:120px;
    color:#34C759;
}

.answers{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

    .answers button {
        color: white;
        background-color: #3A3A3C;
        border-radius: 8px;
        border: none;
        width: 265px;
        height: 50px;
        font-size: 15px;
        font-weight: 500;
        margin:10px 25px;
        transition:0.5s all;
    }
        .answers button:hover {
            background-color: #34C759;
        }


.sideScrollButtons {
    
    font-size: 30px;
    color: white;
    position:absolute;
    padding:15px;
    bottom:0;
        
}

    .sideScrollButtons button {
        width: 23px;
        height: 24px;
        border-radius: 4px;
        border-color: rgb(84, 84, 88,0.65);
        border-width: 0.5px;
        border-style: solid;
        background-color: transparent;
        font-size: 30px;
        color: white;
    }

 #resultHeading{
     margin:40px 25px;
     color:#34C759;
     font-weight:600;
     text-align:left;
 }

 .result{
     text-align:left;
 }

.back {
    margin-right: 270px;
}
    .back p {
        margin-left: -26px;
        margin-top: -14px;
    }