@page "/stretching"
@layout TipsLayout


<div class="content">
    <div class="tipButtons">
        <a href="/runningform">
            <button id="running">
                Running Form
            </button>
        </a>

        <a href="/breathing">
            <button id="breathing">
                Breathing
            </button>
        </a>

        <a href="/stretching">
            <button disabled id="stretching">
                Stretch
            </button>
        </a>
    </div>
    <div class="actualTips">
        <div class="articlePic">
            <img src="Images/stretch.jpg" id="stretchPic" />

        </div>
        <h3 id="articleHeading">PREPARING FOR RUNS</h3>

        <p>
            Stretching is a good way you can prepare for a run, as it loosens up your muscles and prevents injuries.<br /><br />

            When choosing stretches, it is important to select dynamic stretches, which are repetitive motions that increase 
            circulation and muscle length. Static stretches are when you stretch a muscle to the point of discomfort for a short period of time and involve no movement. <br /><br />

            Here are some dynamic stretches that you can incorporate into your running routine!<br /><br />

            1. Side Lunges: position your feet wide apart and begin by bending one of your knees. Place your weight onto the leg that has the bent knee and repeat this for each leg 10 times.<br /><br />
            2. Arm Swings: rotate your arms in a circular motion, starting with a small circle and gradually increasing the size. Repeat this motion for 30 seconds. <br /><br />
            3. Bent-Knee Forward Swings: find a wall and stand on your right leg. Swing your left leg up towards your chest and back, keeping it lifted the entire time. Repeat this 10 times for each leg. <br />
           

        </p>
        <a href="/stretchingdemo"><button class="next"><p>&#129170;</p></button></a>

    </div>
</div>


@code {

}
