<div class=frame_41>
    <div class=icon_container>
        <span class="oi oi-caret-left" style="color: white" aria-hidden="true"></span>
    </div>
    <span class="september_2022">@Title</span>
    <div class=icon_container>
        <span class="oi oi-caret-right" style="color: white" aria-hidden="true"></span>
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}
