@inherits LayoutComponentBase

<PageTitle>RunOut</PageTitle>

<div class="page">
    <main>
        <CascadingValue Value ="@calendarData">
            @Body
        </CascadingValue>

    </main>
</div>

@code {
    private Calendar_Data calendarData = new Calendar_Data();
}