@inherits LayoutComponentBase
@layout MainLayout
<div class="centerPage">
<div class="newProgramPage">
    <div class="topNav">
        <p id="back">

            &#10094;
        </p>
        <p id="heading">ADD RACE</p>
        <p id="hidden">
            &#5176;
        </p>
    </div>
    @Body
</div>
</div>

@code {

}

}