

.topNav {
    background-color: #1C1C1E;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight:500;
    height:50px;
    padding-left:15px;
    padding-right:15px;
    position:sticky;
    top:0;
    font-family:'Roboto',sans-serif;
}

#heading{
    padding-top:15px;
    margin-left:auto;


}

#back {
    color: #34C759;
    font-size:20px;
    border:none;
    background-color:transparent;
    padding-top:10px;
    margin-right:auto;
    
}

#hidden{
    visibility:hidden;
    margin-left:auto;
}
