@inherits LayoutComponentBase
@layout MainLayout

    <div class="topNav">
        <a href="/dashboard"><button id="back">

            &#10094;
        </button></a>
        
        <p id="heading">Tips and Tricks</p>
        <p id="hidden">
            &#5176;
        </p>
    </div>
    @Body


@code {

}
