@inherits LayoutComponentBase
<div class="centerPage">
<div class="tipsPage">
    <div class="topNav">
        <p id="back">

            &#10094;
        </p>
        <p id="heading">Tips and Tricks</p>
        <p id="hidden">
            &#5176;
        </p>
    </div>
    @Body
</div>
</div>

@code {

}
