
<select @bind="Day">
    @for (int i = 1; i <= 31; i++)
    {
        <option>@i</option>
    }

</select>
<select @bind="Month">
    @for (int i = 1; i <= 12; i++)
    {
        <option value="@i">@Months[i-1]</option>
    }
</select>
<select @bind="Year">
    @for (int i = DateTime.Now.Year;
    i <= DateTime.Now.Year + 5; i++)
    {
        <option>@i</option>
    }
</select>

@code {
    public int Day { get; set; }
    public int Month { get; set; }
    public int Year { get; set; }

    public string[] Months { get; set; } = {
       "January", "February", "March",
       "April", "May", "June", "July",
       "August", "September", "October",
       "November", "December" };
}
